<ng-template #containerTemplate>
  <div class="flex w-full pl-3">
    <div class="flex items-end flex-col py-5 w-1/6">
      @for (tab of tabs; track tab) {
      <div
        class="flex flex-col items-center rounded-l-xl py-1 border-2 border-transparent border-dashed border-r-0 hover:bg-black/3 w-10/12 transition-[width] duration-200"
        [class]="tab.active ? 'border-2 !border-slate-600  w-full' : ''"
        (click)="selectTab(tab)"
      >
        <img [src]="tab.img" class="w-14 h-14" />

        <p class="font-medium text-base text-black-olive">{{ tab.title }}</p>
      </div>
      }
    </div>

    <div class="w-5/6">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
