<ng-template #containerTemplate>
  <div class="flex flex-col sm:flex-row w-full sm:pl-3">
    <div class="grid grid-cols-4 sm:flex items-end flex-col px-5 sm:py-5 sm:px-0 sm:w-1/6">
      @for (tab of tabs; track tab) {
      <div
        class="flex flex-col items-center rounded-t-xl sm:rounded-l-xl sm:rounded-r-none py-1 border-2 h-11/12 sm:h-fit border-transparent border-dashed border-b-0 sm:border-r-0 sm:border-b-2 hover:bg-black/3 pb-3 sm:pb-1 sm:w-10/12 transition-[height,width] duration-200"
        [class]="tab.active ? ' !border-slate-600 h-full sm:w-full' : ''"
        (click)="selectTab(tab)"
      >
        <img [src]="tab.img" class="w-14 h-14" />

        <p class="font-semibold sm:font-medium text-sm sm:text-base text-black-olive">
          {{ tab.title }}
        </p>
      </div>
      }
    </div>

    <div class="sm:w-5/6">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
