@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

:root {
  --deep-chestnut: #bd4a48;
  --jelly-bean: #dc5552;
  --aero-blue: #c3fde5;
  --bone: #e5dbc3;
  --black-olive: #3a3a3a;
  --gray-asparagus: #405d4f;
  --fawn: #dab178;
  --persian-orange: #db915e;
  --persian-orange-hover: #d18a5a;
}

@theme {
  --color-deep-chestnut: var(--deep-chestnut);
  --color-jelly-bean: var(--jelly-bean);
  --color-aero-blue: var(--aero-blue);
  --color-bone: var(--bone);
  --color-black-olive: var(--black-olive);
  --color-gray-asparagus: var(--gray-asparagus);
  --color-fawn: var(--fawn);
  --color-persian-orange: var(--persian-orange);
  --color-persian-orange-hover: var(--persian-orange-hover);

  --font-sans: 'Rubik';

  --text-shadow-outline-1: 1px 1px 0 var(--black-olive), 1px -1px 0 var(--black-olive),
    -1px 1px 0 var(--black-olive), -1px -1px 0 var(--black-olive), 1px 0px 0 var(--black-olive),
    0px 1px 0 var(--black-olive), -1px 0px 0 var(--black-olive), 0px -1px 0 var(--black-olive);
}

/* ---------- SCROLLBAR ---------- */

/* width */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--jelly-bean);
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:active,
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--deep-chestnut);
}
